[data]
dir=/home/zc/data/
[base]
port=4083
## Share memory size (GB)
share_memory_size=3
[log]
dir=/home/zc/logs/simpledb/
level=DEBUG
[transaction]
## Supports four transaction isoland level, READ_UNCOMMITTED, READ_COMMITTED, REPEATABLE_READ, SERIALIZABLE.
trans_isolation_level=READ_COMMITTED
auto_rollback=true
[auth]
account=root
password=Zc120130211
[file]
first_user_oid=16384
[env]
time_zone=Asia/Shanghai
